osc/foo.txt
osc/foo2Reich.txt
osc/fooRavelmod.txt
osc/node_modules/*
Asco_Examples/Boulez_Sample.asco.wav
Asco_Examples/chopinCm.aif
Asco_Examples/Reich_Sample.asco.wav
Asco_Examples/Ravel_Sample.asco.wav
Asco_Examples/chopinCm.asco.wav
Asco_Examples/chopinCm.na
Asco_Examples/Stroppa_Sample.asco.wav
